<section>
    <div class="booking-search">
        <div class="booking-form">
            <div>
                <h2>Beach House? Condo? Cabin? <br> Your perfect location awaits ! </h2>
            </div>
            <div class="form">
                <form class="form" method="post" action="/search places">

                    <div class="form-label">
                        <label for="where"><b>Where : </b></label>

                        <input type="text" placeholder="Anywhere" name="Where">


                    </div>

                    <div class="form-label">
                        <label for="Arrive"><b>Arrive : </b></label>
                        <input type="date" placeholder="dd-mm-yyyy" name="Arrive">
                    </div>


                    <div class="form-label">
                        <label for="Depart"><b>Depart : </b></label>
                        <input type="date" placeholder="dd-mm-yyyy" name="Depart">
                    </div>

                    <div class="form-label">
                        <label for="guests"><b>Guests : </b></label>
                        <input type="text" placeholder="Guests" name="guests">
                    </div>

                    <input type="submit" class="search-button" value="Search">
                </form>
            </div>
        </div>


    </div>
</section>

<section class="more-places">
    <div class="heading">
        <h2>Search More Places !</h2>
    </div>

    <div class="more-places" id="more-cities">
        <section class="city">
            <div class="city-img">
                <img src="image/south.jpeg" alt="Southern USA" style="width: 300px; height: 200px">
            </div>
            <div class="city-name">
                <p class="city-heading"><strong>Southern USA</strong></p>
            </div>
        </section>

        <section class="city">
            <div class="city-img">
                <img src="image/china.jpg" alt="china" style="width: 300px; height: 200px">
            </div>
            <div class="city-name">
                <p class="city-heading"><strong>The New China</strong></p>
            </div>
        </section>


        <section class="city">
            <div class="city-img">
                <img src="image/goa.jpg" alt="goa" style="width: 300px; height: 200px">
            </div>
            <div class="city-name">
                <p class="city-heading"><strong>GOA</strong></p>
            </div>
        </section>


        <section class="city">
            <div class="city-img">
                <img src="image/dubai.jpg" alt="dubai" style="width: 300px; height: 200px">
            </div>
            <div class="city-name">
                <p class="city-heading"><strong>Dubai</strong></p>
            </div>
        </section>


        <section class="city">
            <div class="city-img">
                <img src="image/kashmir.jpg" alt="kashmir" style="width: 300px; height: 200px">
            </div>
            <div class="city-name">
                <p class="city-heading"><strong>Kashmir,INDIA</strong></p>
            </div>
        </section>


        <section class="city">
            <div class="city-img">
                <img src="image/pakistan.jpg" alt="pakistan" style="width: 300px; height: 200px">
            </div>
            <div class="city-name">
                <p class="city-heading"><strong>The New Pakistan</strong></p>
            </div>
        </section>

    </div>
</section>

<section class="airbnb-intro">
    <div class="heading">
        <h2>Learn More About Airbnb</h2>
    </div>

    <div class="intro">


        <p>
            Facebook, and personal communication through Airbnb.Guests and hosts use Airbnb to confirm travel dates,
            expectations, and pay.Airbnb holds onto the payment until 24 hours after the reservation begins. Hosts
            keep
            87% of booking fees, and guests pay a 6-12% fee to Airbnb.After the stay, both hosts and guests leave
            reviews for one another, which are public for all future hosts and guests to read. Airbnb is committed
            to fostering trust between our guests, hosts, neighbors, and civicleaders. Together, we work to ensure
            that our global community has safe and positive
            experiences while using Airbnb. To do this, we have built best-in-class tools andprocedures that empower
            hosts and guests to make smart and safe decisions about howto transact with one another. Hosts are
            empowered to welcome thoughtful and respectful
            guests, and they always have the final say about who they invite to share their home. </p>
    </div>
    </div>

</section>